<div fxFlex="100">
    <ng-select [items]="oferentes"
               bindValue="ofe_identificacion"
               bindLabel="ofe_identificacion_ofe_razon_social"
               [placeholder]="label"
               [searchFn]="customSearchFnOfe"
               notFoundText="No hay coincidencias"
               loadingText="..."
               [formControl]="ofe_id"
               [(ngModel)]="selectedOfeId"
               appendTo="body"
               (change)="onOfeSeleccionado($event)">
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div style="margin: 5px 0;" class="card">
                <div class="card-body">
                    <p class="card-text">
                        <strong>({{item.ofe_identificacion}})</strong> - {{item.ofe_razon_social}}
                    </p>
                </div>
            </div>
        </ng-template>
    </ng-select>
    <mat-error *ngIf="!ofe_id.valid && ofe_id.touched" style="color:red;" class="fh">
        El {{label}} es requerido!
    </mat-error>
</div>
