<div fxLayout="column">
    <input type="hidden" [formControl]="fecha_vigencia_desde_anterior">
    <input type="hidden" [formControl]="fecha_vigencia_hasta_anterior">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="49">
            <mat-label style="color:rgb(131, 129, 129) !important;">Fecha Vigencia Desde</mat-label>
            <input matInput [matDatepicker]="cdoFD"
                [formControl]="fecha_vigencia_desde" 
                (click)="cdoFD.open()" (dateChange)="setMinDateFechaFin($event.target.value)">
            <mat-datepicker-toggle matSuffix [for]="cdoFD"></mat-datepicker-toggle>
            <mat-datepicker #cdoFD></mat-datepicker>
        </mat-form-field>
        <span fxFlex="2">&nbsp;</span>
        <mat-form-field fxFlex="49">
        <input type="time" step="1" [formControl]="hora_vigencia_desde" matInput placeholder="Hora Vigencia Desde">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="49">
            <mat-label style="color:rgb(131, 129, 129) !important">Fecha Vigencia Hasta</mat-label>
            <input matInput [matDatepicker]="cdoFH"
                [formControl]="fecha_vigencia_hasta" 
                (click)="cdoFH.open()" [min]="minDateFechaFin">
            <mat-datepicker-toggle matSuffix [for]="cdoFH"></mat-datepicker-toggle>
            <mat-datepicker #cdoFH></mat-datepicker>
        </mat-form-field>
        <span fxFlex="2">&nbsp;</span>
        <mat-form-field fxFlex="49">
        <input type="time" step="1" [formControl]="hora_vigencia_hasta" matInput placeholder="Hora Vigencia Hasta">
        </mat-form-field>
    </div>
</div>