<div id="variables-sistema" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header fuse-navy-900 p-24 h-100" fxLayout="column">
        <div class="black-fg" fxLayout="row" >
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Sistema</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Variables Sistema</span>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
            <div fxFlex="50" fxLayoutAlign="start">
                <div class="h1 mt-8">Variables Sistema</div> 
            </div>
            <div fxLayout="row" fxFlex="50" fxLayoutAlign="end center">
                <button mat-icon-button matTooltip="Recargar" (click)="getData()">
                    <mat-icon aria-label="Reload" color="#ffffff">autorenew</mat-icon>
                </button>
                <span fxFlex="2">&nbsp;</span> 
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <app-open-tracking
        [rows]="registros"
        [columns]="columns"
        [accionesLote]="accionesBloque"
        [trackingOpciones]="trackingOpciones"
        [totalElements]="totalElements"
        [totalShow]="totalShow"
        [loadingIndicator]="loadingIndicator"
        [permisoEditar]="'SistemaAdministracionVariablesSistemaEditar'"
        [permisoVer]="'SistemaAdministracionVariablesSistemaVer'"
        [permisoCambiarEstado]="'SistemaAdministracionVariablesSistemaCambiarEstado'"
        [trackingInterface]="trackingInterface"
        [mostrarIconoTresPuntos]="true">
    </app-open-tracking>
    <!-- / CONTENT -->
</div>
