.button-close {
    float: right;
}

.cab-documentos {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.bot-space {
    margin-bottom: 10px;
    margin-top: 10px;
}

.mat-expansion-panel-header {
    height: 50px;
}

.mat-expansion-panel-header.mat-expanded {
    height: 50px;
}

.margin-etapa {
    padding: 8px;
}
