<app-adquirentes-listar fxFlex="100"
                        [tipoAdquirente]="tipoAdquirente"
                        [permisoCambiarEstado]="permisosRoles.permisos.ConfiguracionAutorizadosCambiarEstado"
                        [permisoDescargarExcel]="permisosRoles.permisos.ConfiguracionAutorizadosDescargarExcel"
                        [permisoEditar]="permisosRoles.permisos.ConfiguracionAutorizadosEditar"
                        [permisoNuevo]="permisosRoles.permisos.ConfiguracionAutorizadosNuevo"
                        [permisoSubir]="permisosRoles.permisos.ConfiguracionAutorizadosSubir"
                        [permisoVer]="permisosRoles.permisos.ConfiguracionAutorizadosVer">

</app-adquirentes-listar>