<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header fuse-navy-900 p-24 h-100" fxLayout="column">
        <div class="black-fg" fxLayout="row" >
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Recepción</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Correos Recibidos</span>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
            <div fxFlex="50" fxLayoutAlign="start">
                <div class="h1 mt-8">Correos Recibidos</div> 
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <app-cartera-vencida></app-cartera-vencida>
    <div class="content p-24">
        <div class="mat-white-bg mat-elevation-z4">
            <div fxLayout="column" fxLayoutGap="15px" class="px-24 pt-24">
                <form fxLayout="column" name="form" [formGroup]="form">
                    <app-selector-par-receptor-emisor 
                        [ofe_id]="ofe_id" 
                        [pro_id]="pro_id" 
                        [oferentes]="ofes" 
                        [selector_multiple_receptor]="true" 
                        (ofeSeleccionado)="ofeHasChanged($event)">
                    </app-selector-par-receptor-emisor>
                    <span fxFlex="2">&nbsp;</span>
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="30">
                            <app-selector-par-fechas style="padding-top: 6px;"
                                [labelDesde]="'Fecha Inicio Consulta'"
                                [labelHasta]="'Fecha Fin Consulta'"
                                [fecha_desde]="fecha_desde"
                                [fecha_hasta]="fecha_hasta"
                                [req]="true">
                            </app-selector-par-fechas>
                        </div>
                        <span fxFlex="2">&nbsp;</span>
                        <div fxFlex="15" style="padding-top: 5px;">
                            <ng-select [items]="arrProcesado"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Estado Procesamiento"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [clearable]="false"
                                [(ngModel)]="procesoSelected"
                                [formControl]="procesado">
                            </ng-select>
                        </div>
                        <span fxFlex="2">&nbsp;</span>
                        <div fxFlex="34" fxLayoutAlign="end end">
                            <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" matTooltip="Buscar Documentos" (click)="searchDocumentos(form.value)">
                                <mat-icon color="#ffffff">search</mat-icon> Buscar
                            </button>
                        </div>
                    </div>
                </form>
                <mat-divider></mat-divider>
            </div>
            <app-documentos-tracking
                #documentosTracking
                [rows]="registros"
                [columns]="columns"
                [existeConsulta]="existeConsulta"
                [tipo]="'correos-recibidos'"
                [totalElements]="totalElements"
                [totalShow]="totalShow"
                [loadingIndicator]="loadingIndicator"
                [trackingInterface]="trackingInterface">
            </app-documentos-tracking> 
        </div>
    </div>
    <!-- / CONTENT -->
</div>