.fh {
    font-size: 12px;
  }
  
.fi {
  font-size: 9px;
  color: red;
}

.fiw {
  font-size: 9px;
  color: whitesmoke;
}

#documentos-manuales {
    .fondo-blanco {
        background-color: white !important;
    }
}