<app-adquirentes-listar fxFlex="100"
                        [tipoAdquirente]="tipoAdquirente"
                        [permisoCambiarEstado]="permisosRoles.permisos.ConfiguracionAdquirentesCambiarEstado"
                        [permisoDescargarExcel]="permisosRoles.permisos.ConfiguracionAdquirentesDescargarExcel"
                        [permisoEditar]="permisosRoles.permisos.ConfiguracionAdquirentesEditar"
                        [permisoNuevo]="permisosRoles.permisos.ConfiguracionAdquirentesNuevo"
                        [permisoSubir]="permisosRoles.permisos.ConfiguracionAdquirentesSubir"
                        [permisoVer]="permisosRoles.permisos.ConfiguracionAdquirentesVer"
></app-adquirentes-listar>