<div class="fuse-navy-900" fxLayout="column" fxFlex="100" [ngClass]="modal ? 'estilo-modal' : 'estilo-normal'">
    <div fxLayout="row" fxFlex="100">
        <div fxFlex="49"><strong>Creado: {{fechaCreacion}}</strong></div>
        <span fxFlex="2">&nbsp;</span>
        <div fxFlex="49"><strong>Modificado: {{fechaModificacion}}</strong></div>
    </div>
    <div fxLayout="row" fxFlex="100">
        <div fxFlex="49"><strong>Usuario: {{usuarioCreacion}}</strong></div>
        <span fxFlex="2">&nbsp;</span>
        <div fxFlex="49"><strong>Estado: {{estado}}</strong></div>
    </div>
</div>
