.input-hidden {
    display: none;
}

.campos-personalizados-label {
    font-size: 10px;
    color: #9a9a9a;
}

.text-color {
    color: #9a9a9a;
}

.btn-agregar {
    margin-bottom: 15px;
    line-height: 25px;
}