<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header fuse-navy-900 p-24 h-100" fxLayout="column">
        <div class="black-fg" fxLayout="row" >
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">{{ moduloTitulo }}</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Reportes</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Reporte Background</span>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
            <div fxFlex="50" fxLayoutAlign="start">
                <div class="h1 mt-8">Reporte Background</div> 
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="mat-white-bg mat-elevation-z4">
            <div class="page-layout simple fullwidth" fxLayout="column">
                <span fxFlex="4">&nbsp;</span>
                <div fxFlex="34" fxLayout="row" fxLayoutAlign="space-around center" >
                    <button mat-raised-button  class="green-900" type="button" color="sucess" matTooltip="Actualizar Listado" (click)="consultarReportesDescargar()">
                        <mat-icon color="#ffffff">autorenew</mat-icon> Actualizar Listado
                    </button>
                </div>
                <app-open-tracking
                    [rows]="archivos"
                    [columns]="columns"
                    [trackingOpciones]="trackingOpciones"
                    [accionesLote]=""
                    [totalElements]="totalElements"
                    [totalShow]="totalShow"
                    [multiSelect]="false"
                    [loadingIndicator]="loadingIndicator"
                    [trackingInterface]="trackingInterface"
                    [permisoAccionesBloque]="false"
                    [widthOpciones]="5"
                >
                </app-open-tracking>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>