<app-adquirentes-listar fxFlex="100"
                        [tipoAdquirente]="tipoAdquirente"
                        [permisoCambiarEstado]="permisosRoles.permisos.ConfiguracionVendedorDSCambiarEstado"
                        [permisoDescargarExcel]="permisosRoles.permisos.ConfiguracionVendedorDSDescargarExcel"
                        [permisoEditar]="permisosRoles.permisos.ConfiguracionVendedorDSEditar"
                        [permisoNuevo]="permisosRoles.permisos.ConfiguracionVendedorDSNuevo"
                        [permisoSubir]="permisosRoles.permisos.ConfiguracionVendedorDSSubir"
                        [permisoVer]="permisosRoles.permisos.ConfiguracionVendedorDSVer">

</app-adquirentes-listar>