<h1 class="header bradius fuse-navy-900 p-12" mat-dialog-title *ngIf="action === 'new'">Agregar Concepto de Corrección</h1>
<h1 class="header bradius fuse-navy-900 p-12" mat-dialog-title *ngIf="action === 'edit'">Actualizar Concepto de Corrección</h1>
<h1 class="header bradius fuse-navy-900 p-12" mat-dialog-title *ngIf="action === 'view'">Ver Concepto de Corrección</h1>

<mat-dialog-content>
    <form class="ng-pristine ng-invalid ng-touched" fxLayout="column" [formGroup]="form" name="form">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50">
                <input matInput #inputCod placeholder="Código" formControlName="cco_codigo">
                <mat-icon matSuffix class="fi">star rate</mat-icon>
                <mat-hint *ngIf="action !== 'view'" class="fh">Máx 10 caracteres</mat-hint>
                <mat-hint *ngIf="action !== 'view'" align="end" class="fh">{{inputCod.value?.length || 0}}/10</mat-hint>
                <mat-error *ngIf="hasError('cco_codigo', 'required')">
                    {{formErrors.cco_codigo.required}}
                </mat-error>
                <mat-error *ngIf="hasError('cco_codigo', 'maxlength')">
                    {{formErrors.cco_codigo.maxLength}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100">
                <input matInput #inputDesc placeholder="Descripción" formControlName="cco_descripcion">
                <mat-icon matSuffix class="fi">star rate</mat-icon>
                <mat-hint *ngIf="action !== 'view'" class="fh">Máx 100 caracteres</mat-hint>
                <mat-hint *ngIf="action !== 'view'" align="end" class="fh">{{inputDesc.value?.length || 0}}/100</mat-hint>
                <mat-error *ngIf="hasError('cco_descripcion', 'required')">
                    {{formErrors.cco_descripcion.required}}
                </mat-error>
                <mat-error *ngIf="hasError('cco_descripcion', 'maxlength')">
                    {{formErrors.cco_descripcion.maxLength}}
                </mat-error>
            </mat-form-field>
        </div>
        <app-selector-par-fechas-vigencia
                [fecha_vigencia_desde]="fecha_vigencia_desde"
                [fecha_vigencia_hasta]="fecha_vigencia_hasta"
                [hora_vigencia_desde]="hora_vigencia_desde"
                [hora_vigencia_hasta]="hora_vigencia_hasta"
                [fecha_vigencia_desde_anterior]="fecha_vigencia_desde_anterior"
                [fecha_vigencia_hasta_anterior]="fecha_vigencia_hasta_anterior">
            </app-selector-par-fechas-vigencia>
        <span>&nbsp;</span>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div fxFlex="50" fxLayout="column">
                <mat-label class="control-label">Tipo: <mat-icon matSuffix class="fi">star rate</mat-icon></mat-label>
                <ng-select [items]="tiposConceptosCorreccion"
                    [(ngModel)]="tipoSeleccionado"
                    [dropdownPosition]="'top'"
                    formControlName="cco_tipo">
                </ng-select>
                <mat-error *ngIf="hasError('cco_tipo', 'required') && cco_tipo.touched">
                    {{formErrors.cco_tipo.required}}
                </mat-error>
            </div>
            <span fxFlex="2" *ngIf="action === 'edit'">&nbsp;</span>
            <div fxLayout="column">
                <ng-container *ngIf="action === 'edit'">
                    <mat-label class="control-label" style="margin-left: 25px">Estado: <mat-icon matSuffix class="fi">star rate</mat-icon></mat-label>
                    <mat-radio-group formControlName="estado" style="margin-left: 25px">
                        <mat-radio-button value="ACTIVO" style="margin-right: 15px"> Activo </mat-radio-button>
                        <mat-radio-button value="INACTIVO"> Inactivo </mat-radio-button>
                    </mat-radio-group>
                </ng-container>
            </div>
        </div>
        <span fxFlex="2">&nbsp;</span>
        <app-magic-fields [object]="objMagic" [usuario]="usuario" *ngIf="action === 'edit' || action === 'view'" [modal]="true"></app-magic-fields>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="closeModal(false)"
        *ngIf="action !== 'view'">
        <mat-icon color="#ffffff">cancel</mat-icon> Cancelar
    </button>
    <button mat-raised-button color="accent" cdkFocusInitial [disabled]="!form.valid"
        (click)="saveItem(form.value)" *ngIf="action === 'edit'">
        <mat-icon color="#ffffff">check_box</mat-icon> Actualizar
    </button>
    <button mat-raised-button color="accent" cdkFocusInitial [disabled]="!form.valid"
        (click)="saveItem(form.value)" *ngIf="action === 'new'">
        <mat-icon color="#ffffff">add_box</mat-icon> Agregar
    </button>
    <button mat-raised-button class="green-900" cdkFocusInitial
        (click)="closeModal(false)" *ngIf="action === 'view'">
        <mat-icon color="#ffffff">check_box</mat-icon> Aceptar
    </button>
</mat-dialog-actions>
<br>
