.button-close {
    float: right;
}

.button-save {
    float: right;
    margin-left: 7px;
}

.cab-documentos {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bot-space {
    margin-bottom: 5px;
}

.box-combo {
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.w-100p {
    width: 100%;
}

.w-94p {
    width: 94%;
}

.p-8p {
    padding: 8px;
}

.borrar-seleccion {
    text-align: right;
}