.button-close {
    float: right;
}

.button-save {
    float: right;
    margin-left: 7px;
}

.cab-documentos {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bot-space {
    margin-bottom: 5px;
}

.box-combo {
    margin-top: 5px;
    margin-bottom: 10px;
}

.fi {
    font-size: 12px !important;
    color: red;
}
