<div id="empleadores" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header fuse-navy-900 p-24 h-100" fxLayout="column">
        <div class="black-fg" fxLayout="row" >
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Configuración</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Documento Soporte de Pago de Nómina Electrónica</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Empleadores</span>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
            <div fxFlex="60" fxLayoutAlign="start">
                <div class="h1 mt-8">Empleadores</div>
            </div>
            <div fxLayout="row" fxFlex="40" fxLayoutAlign="end center">
                <button mat-icon-button matTooltip="Recargar" (click)="getData()">
                    <mat-icon aria-label="Reload" color="#ffffff">autorenew</mat-icon>
                </button>
                <span fxFlex="2">&nbsp;</span>
                <button *ngIf="_auth.existeRol(aclsUsuario.roles, 'superadmin') ||
                    _auth.existePermiso(aclsUsuario.permisos, 'ConfiguracionDnEmpleadorSubir')"  
                    mat-raised-button (click)="subirEmpleadores()" color="accent">
                    <mat-icon color="#ffffff">cloud_upload</mat-icon> Subir
                </button> 
                <span fxFlex="2">&nbsp;</span>
                <button *ngIf="_auth.existeRol(aclsUsuario.roles, 'superadmin') ||
                    _auth.existePermiso(aclsUsuario.permisos, 'ConfiguracionDnEmpleadorDescargarExcel')" 
                    mat-raised-button (click)="descargarExcel()" class="green-900">
                    <mat-icon color="#ffffff">cloud_download</mat-icon> Excel
                </button> 
                <span fxFlex="2">&nbsp;</span>
                <button *ngIf="_auth.existeRol(aclsUsuario.roles, 'superadmin') ||
                    _auth.existePermiso(aclsUsuario.permisos, 'ConfiguracionDnEmpleadorNuevo')" 
                    mat-raised-button (click)="nuevoEmpleador()" color="accent">
                    <mat-icon color="#ffffff">add</mat-icon> Nuevo
                </button>
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <app-open-tracking
        [rows]="registros"
        [columns]="columns"
        [accionesLote]="accionesBloque"
        [trackingOpciones]="trackingOpciones"
        [totalElements]="totalElements"
        [totalShow]="totalShow"
        [loadingIndicator]="loadingIndicator"
        [permisoEditar]="'ConfiguracionDnEmpleadorEditar'"
        [permisoVer]="'ConfiguracionDnEmpleadorVer'"
        [permisoCambiarEstado]="'ConfiguracionDnEmpleadorCambiarEstado'"
        [trackingInterface]="trackingInterface"
        [mostrarIconoTresPuntos]="true">
    </app-open-tracking>
    <!-- / CONTENT -->
</div>