<app-adquirentes-listar fxFlex="100"
                        [tipoAdquirente]="tipoAdquirente"
                        [permisoCambiarEstado]="permisosRoles.permisos.ConfiguracionResponsablesCambiarEstado"
                        [permisoDescargarExcel]="permisosRoles.permisos.ConfiguracionResponsablesDescargarExcel"
                        [permisoEditar]="permisosRoles.permisos.ConfiguracionResponsablesEditar"
                        [permisoNuevo]="permisosRoles.permisos.ConfiguracionResponsablesNuevo"
                        [permisoSubir]="permisosRoles.permisos.ConfiguracionResponsablesSubir"
                        [permisoVer]="permisosRoles.permisos.ConfiguracionResponsablesVer">

</app-adquirentes-listar>