<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header fuse-navy-900 p-24 h-100" fxLayout="column">
        <div class="black-fg" fxLayout="row" >
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Recepción</span>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Validación Documentos</span>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
            <div fxFlex="50" fxLayoutAlign="start">
                <div class="h1 mt-8">Validación Documentos</div> 
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="mat-white-bg mat-elevation-z4">
            <div fxLayout="column" fxLayoutGap="15px" class="px-24 pt-24">
                <form fxLayout="column" name="form" [formGroup]="form">
                    <app-selector-par-receptor-emisor [ofe_id]="ofe_id" [pro_id]="pro_id" [oferentes]="ofes" [selector_multiple_receptor]="true" (ofeSeleccionado)="ofeHasChanged($event)"></app-selector-par-receptor-emisor>
                    <span fxFlex="2">&nbsp;</span>

                    <div fxLayout="row" fxLayoutGap="8px">
                        <div fxLayout="column" fxFlex="23">
                            <ng-select [items]="arrOrigen"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Origen"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [formControl]="cdo_origen">
                            </ng-select>
                        </div>

                        <div fxLayout="column" fxFlex="23">
                            <ng-select [items]="arrTipoDoc"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Tipo de Documento"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [formControl]="cdo_clasificacion">
                            </ng-select>
                        </div>

                        <div fxLayout="column" fxFlex="18">
                            <ng-select [items]="arrEstadoRegistro"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Estado Documento"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [formControl]="estado">
                            </ng-select>
                        </div>

                        <mat-form-field fxFlex="18" style="padding-top: 6px;" [floatLabel]="'always'">
                            <input matInput placeholder="Prefijo" maxlength="5" formControlName="rfa_prefijo">
                        </mat-form-field>

                        <mat-form-field fxFlex="28" style="padding-top: 6px;" [floatLabel]="'always'">
                            <input matInput placeholder="Consecutivo" maxlength="20" formControlName="cdo_consecutivo">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <app-selector-par-fechas fxFlex="48"
                            [labelDesde]="'Fecha Documento (Desde)'"
                            [labelHasta]="'Fecha Documento (Hasta)'"
                            [fecha_desde]="cdo_fecha_desde"
                            [fecha_hasta]="cdo_fecha_hasta"
                            [req]="true">
                        </app-selector-par-fechas>

                        <app-selector-par-fechas fxFlex="48" style="padding-top: 4px;"
                            [labelDesde]="'Fecha Validación DIAN (Desde)'"
                            [labelHasta]="'Fecha Validación DIAN (Hasta)'"
                            [fecha_desde]="cdo_fecha_validacion_dian_desde"
                            [fecha_hasta]="cdo_fecha_validacion_dian_hasta"
                            [req]="false">
                        </app-selector-par-fechas>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
                        <ng-select [items]="arrEstadoValidacion" fxFlex="28"
                            bindLabel="name"
                            bindValue="id"
                            placeholder="Estado Validación"
                            notFoundText="No hay coincidencias"
                            loadingText="..."
                            [formControl]="estado_validacion"
                            [multiple]="true">
                        </ng-select>

                        <div fxLayout="column" fxFlex="22" *ngIf="mostrarFiltroGruposTrabajo">
                            <ng-select class="gruposTrabajoUsuario"
                                [items]="arrGruposTrabajoUsuario"
                                bindLabel="gtr_codigo_nombre"
                                bindValue="gtr_id"
                                [labelForId]="_grupo_trabajo"
                                [placeholder]="_grupo_trabajo"
                                [formControl]="filtro_grupos_trabajo_usuario"
                                notFoundText="No hay coincidencias"
                                loadingText="...">
                            </ng-select>
                        </div>

                        <div fxFlex="28" fxLayout="column">
                            <ng-select [items]="usuarios$ | async"
                                autocomplete="nope"
                                #selectUsuarios
                                bindLabel="usu_identificacion_nombre"
                                [loading]="usuariosLoading"
                                placeholder="Responsable:"
                                typeToSearchText="Puede ingresar el nombre o la identificación"
                                [closeOnSelect]="true"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [typeahead]="usuariosInput$"
                                [formControl]="cdo_usuario_responsable"
                                [(ngModel)]="selectedUsuId"
                                (clear)="clearUsuario()"
                                appendTo="body">
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    <div style="margin: 5px 0;" class="card">
                                        <div class="card-body">
                                            <p class="card-text">
                                                <strong>{{item.usu_identificacion}}</strong> - {{item.usu_nombre}}
                                            </p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div fxLayout="column" fxFlex="23" *ngIf="ofeRecepcionFncActivo == 'SI'">
                            <ng-select [items]="arrCamposValidacion"
                                bindLabel="nombreCampo"
                                bindValue="campo"
                                placeholder="Filtro Campos Validación"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [formControl]="campo_validacion"
                                [multiple]="false"
                                (change)="cambioFiltroCamposValidacion($event)"
                            >
                            </ng-select>
                        </div>

                        <mat-form-field fxFlex="23" style="padding-top: 6px;" [floatLabel]="'always'" *ngIf="ofeRecepcionFncActivo == 'SI' && !mostrarComboValorCampoValidacion">
                            <input matInput placeholder="Valor a Buscar" formControlName="valor_campo_validacion">
                        </mat-form-field>

                        <div fxLayout="column" fxFlex="23" *ngIf="ofeRecepcionFncActivo == 'SI' && mostrarComboValorCampoValidacion">
                            <ng-select [items]="arrValoresCamposValidacion"
                                placeholder="Valor a Buscar"
                                notFoundText="No hay coincidencias"
                                loadingText="..."
                                [formControl]="valor_campo_validacion"
                                [multiple]="false">
                            </ng-select>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
                        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center" >
                            <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" matTooltip="Buscar Documentos" (click)="searchDocumentos()">
                                <mat-icon color="#ffffff">search</mat-icon> Buscar
                            </button>
                        </div>
                    </div>
                </form>
                <mat-divider></mat-divider>
            </div>
            <app-documentos-tracking-recepcion
                #documentosTrackingRecepcion
                [rows]="registros"
                [columns]="columns"
                [accionesLote]="accionesBloque"
                [arrDescargas]="arrDescargas"
                [arrReenvioNotificacion]="arrReenvioNotificacion"
                [existeConsulta]="existeConsulta"
                [tipo]="'validacion-documentos'"
                [totalElements]="totalElements"
                [totalShow]="totalShow"
                [loadingIndicator]="loadingIndicator"
                [trackingRecepcionInterface]="trackingRecepcionInterface"
                [visorEcm]="false"
                [linkAnterior]="linkAnterior"
                [linkSiguiente]="linkSiguiente"
            ></app-documentos-tracking-recepcion>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
